#coinChart{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
}

#coinChart svg{
  overflow: visible;
}

.y-axis line, path, text{
stroke: #D4D9E3;
}



.tick text{
  stroke-width: 0;
  fill:#D4D9E3;
}

.tick line{
  stroke: #D4D9E3;
}
.hover-line{
  stroke: #4DD9E8;
}

.hover-circle{
  fill:#4DD9E8;
}