.coinDetails{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;

}

.coinDetails__description {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  color: #D4D9E3;
  perspective: 1000px;
  box-sizing: border-box;
}

.coinDetails__description p,h3{
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.coinDetails__description span {
  color: #D4D9E3;
  background: #0384BE;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 5px;
  font-weight: 500;
}

.coinDetails__description img{
  height: 200px;
  animation: spinLogo 5s linear infinite;
}

.coinDetails__details {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;  
  box-sizing: border-box;
  padding-right:40px;
}

.coinDetails__details__market{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-around;
  width:100%;
}

.coinDetails__details__quotes{
  width: 100%;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 20px;
  justify-content: center;
  align-content: center;
}

.coinDetails__details__price{
  width: 100%;
  color: #D4D9E3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coinDetails__details__price h3,h4{
  margin: 0;
}
.coinDetails__details__price h4{
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 20px;
}

.coinDetails__details__price h3{
  font-weight: 500;
  font-size: 30px;
}

.coinDetails__details__supply{
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 15px;
  color: #D4D9E3;
  text-align: center;
}

.coinDetails__details__supply h4, h3{
  margin: 0;
}

.coinDetails__details__supply h4{
  font-weight: 300;
  margin-bottom: 5px;
}



@keyframes spinLogo{
  from{
    transform: rotateY(0)
  }
  to{
    transform: rotateY(-360deg)
  }
}