.coinDetails{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;

}

.coinDetails__description {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  color: #D4D9E3;
  perspective: 1000px;
  box-sizing: border-box;
}

.coinDetails__description p,h3{
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.coinDetails__description img{
  height: 200px;
  animation: spinLogo 5s linear infinite;
}

.coinDetails__details {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;  
  box-sizing: border-box;
  padding-right:40px;
}

.coinDetails__details__market{
  display: grid;
  grid-template-columns: 50% 50%;
  width:100%;
}

.coinDetails__details__price{
  width: 100%;
}


@keyframes spinLogo{
  from{
    transform: rotateY(0)
  }
  to{
    transform: rotateY(-360deg)
  }
}