.App {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right bottom, #032563, #019DCA);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
colors:

blue1: #032563
blue2: #2066A3
blue3: #0384BE
blue4: #019DCA
blue5: #4DD9E8
Grey1: #8696B0
Grey2: #9FACC7
Grey3: #D4D9E3
Pink:#B5219F;

https://dribbble.com/shots/3830066-New-Cryptocurrency-Startup-Website-Design
*/